th{
	text-align: center;
}
tr{
	text-align: center;
}
#main{
	text-align: center;
}

#mediaList{
	margin-top: 5%;
}

#header{
	margin-bottom: 2%;
}

#firstRow{
	margin-top: 1%;
}

input{
	align: top;
	text-align: left;
}